# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CICD for Bitpanda challenge

on:
  pull_request:
    branches: 
      - master
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual Trigger'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags' 

jobs:
  build:
    env:
      UI_TASK_RESULTS_PATH: ui-task/target/allure-results
      LOAD_TASK_RESULTS_PATH: load-task/target/allure-results
      ZEROCODE_RESULTS_FILE: load-task/target/zerocode-junit-granular-report.csv
      TEST_RESULTS_FOLDER: test-results
    runs-on: ubuntu-latest

    steps:
    - name: Checkout project
      uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache the Maven packages to speed up build
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Setup Firefox
      run: |
        sudo add-apt-repository ppa:ubuntu-mozilla-daily/ppa
        sudo apt-get update
        sudo apt-get install firefox-trunk

    - name: Run UI Task
      if: always()
      run: mvn clean test -DisHeadless=true --file ui-task/pom.xml
      continue-on-error: true

    - name: Run Load Task with zero code
      if: always()
      run: mvn clean test --file load-task/pom.xml
      continue-on-error: true
    - name: Merge allure test results to one folder
      if: always()
      run: |
        sudo mkdir $TEST_RESULTS_FOLDER
        sudo cp -a ./$UI_TASK_RESULTS_PATH/. ./$TEST_RESULTS_FOLDER
        sudo cp -a ./$LOAD_TASK_RESULTS_PATH/. ./$TEST_RESULTS_FOLDER

    - name: Get Allure history
      uses: actions/checkout@v2
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages

    - name: Allure Report action from marketplace
      uses: simple-elf/allure-report-action@master
      if: always()
      with:
        allure_results: $TEST_RESULTS_FOLDER
        allure_history: allure-history

    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.SECRET_ACCESS_TOKEN }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history